#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------
            // |     1     |     2     |     3     |     4     |
            // |     A     |                       |     B     |

            bindings = <
&kp NUMBER_1  &kp NUMBER_2
&kp NUMBER_3  &kp NUMBER_4
&kp A         &kp B
            >;
        };
    };
};
