#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 3>;
        };

        middle_click {
            bindings = <&mo 1>;
            key-positions = <4 5>;
        };
    };

    behaviors {
        right_click_middle_click: right_click_middle_click {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_CLICK_MIDDLE_CLICK";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>, <&mkp MB3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------
            // |     1     |     2     |     3     |     4     |
            // |     A     |                       |     B     |

            bindings = <
&mkp MB4   &mkp MB5
&kp LC(C)  &mt LG(V) LC(V)
&mkp LCLK  &right_click_middle_click
            >;
        };

        scroll {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };

        scroll_H {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };
    };
};
