#include <behaviors.dtsi>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 3>;
        };

        middle_click {
            bindings = <&mkp MB3>;
            key-positions = <4 5>;
        };
    };

    behaviors {
        scroll_wheel_behavior: scroll_wheel_behavior {
            compatible = "zmk,behavior-tap-dance";
            label = "SCROLL_WHEEL_BEHAVIOR";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mkp MB3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------
            // |     1     |     2     |     3     |     4     |
            // |     A     |                       |     B     |

            bindings = <
&sl 1      &mkp MB4
&mkp MB5   &mkp MB3
&mkp LCLK  &mkp RCLK
            >;
        };

        scroll {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };

        scroll_H {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans
&trans  &trans
&trans  &trans
            >;
        };
    };
};
