#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
/ {
    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
    };
};

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;

        row-gpios
            = <&xiao_d 2 GPIO_ACTIVE_HIGH>
            , <&xiao_d 1 GPIO_ACTIVE_HIGH>
            , <&xiao_d 0 GPIO_ACTIVE_HIGH>
            ;

        col-gpios
            = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/* REMOVED: NRF-specific pinctrl block for Nordic chips */
&sercom0 {
    status = "okay";
    compatible = "atmel,sam0-spi";
    cs-gpios = <&xiao_d 8 GPIO_ACTIVE_LOW>;  /* CS -> D8 */

    pads = <0 0  /* PAD0: SCK  -> PA08 (D8) */
            2 0  /* PAD2: MOSI -> PA06 (D10) */
            3 0>;/* PAD3: MISO -> PA07 (D9) */

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3360";
        reg = <0>;
        spi-max-frequency = <2000000>;
    };
};

/ {
  trackball_listener {
    compatible = "zmk,input-listener";
    device = <&trackball>;

  };
};

/ {
	mouse_listener {
		compatible = "zmk,input-listener";
		device = <&mouse>;
	};
};

/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>; // Length of the "col-gpios" array
        rows = <3>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3 | Key 4
             RC(1,0) RC(0,0) RC(0,1) RC(1,1)

        //   Key LMB       |     Key RMB
            RC(2,0)                 RC(2,1)
        >;
    };
};
