#include <dt-bindings/pinctrl/sam0.h>

&pinctrl {
    sercom0_spi_default: sercom0_spi_default {
        group1 {
            pinmux = <PINMUX_PA04D_SERCOM0_PAD0>,
                     <PINMUX_PA05D_SERCOM0_PAD1>,
                     <PINMUX_PA06D_SERCOM0_PAD2>;
            bias-disable;
        };
    };
};
